html {
  scroll-behavior: smooth;
}

.main-page-btn {
  margin: var(--spacing-200);
  display: flex;
  justify-content: space-around;
}

.header-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-150);
  list-style: none;
}

.header-link:link,
.header-link:visited,
.test-case-window {
  font-size: var(--text-preset-3-size);
  line-height: var(--text-preset-3-line-height);
  letter-spacing: var(--text-preset-3-letter-spacing);
}

.tests-heading {
  max-width: 100%;
}

.test-case-window {
  width: 100%;
  padding: 2rem;
  margin-top: var(--spacing-150);
  /* min-height: 20rem; */
  background-color: var(--neutral-100);
  color: var(--neutral-700);
  border-radius: var(--radius-12);
  border: 2px solid var(--neutral-200);
}

.test-case-window-heading {
  margin-top: var(--spacing-200);
}

.test-case-element {
  margin-top: var(--spacing-200);
}

.test-case-window-heading {
  text-align: center;
}

.steps-list {
  padding-left: var(--spacing-100);
}

.steps-list {
  list-style: none;
}
