.main-page-btn {
  margin: var(--spacing-200);
  display: flex;
  justify-content: space-around;
}

.docs-heading {
  max-width: 100%;
}

.counting-blocks {
  margin-top: var(--spacing-500);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.counting-block {
  width: 100%;
  padding: 2rem;
  min-height: 20rem;
  background-color: var(--neutral-100);
  color: var(--neutral-700);
  border-radius: var(--radius-12);
  font-size: var(--text-preset-3-size);
  line-height: var(--text-preset-3-line-height);
  letter-spacing: var(--text-preset-3-letter-spacing);
  border: 2px solid var(--neutral-200);
}

.counting-heading {
  text-align: center;
}

.counting-chars {
  background-color: var(--purple-400);
}

.counting-words {
  background-color: var(--yellow-500);
}

.counting-sentences {
  background-color: var(--orange-500);
}
